.DS_Store
Thumbs.db
bin/
obj/
*.dll
*.pdb
*.exe
*.deps.json
*.runtimeconfig.json
*.db
*.sqlite


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Pp]ublish/

# Database
*.db
*.db-shm
*.db-wal

# Visual Studio
.vs/
*.vscode/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
**/packages/*

# Logs
logs/
*.log
